.table {
  width: 100%;
  box-shadow: 0px 0px 4px 1px rgba(#000, 0.07);
  border-radius: var(--border-radius-soft);
  overflow-x: auto;
  th {
    color: var(--color-grey-8);
    font-size: var(--font-size-xs);
    border-color: var(--color-grey-10);
  }
  td {
    color: var(--color-black);
    font-size: var(--font-size-s);
    border-color: var(--color-grey-10);
  }
  tr.mat-header-row,
  tr.mat-row,
  tr.mat-footer-row {
    height: auto;
  }
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: var(--space-base) var(--space-s);
  }
  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: var(--space-base);
  }
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: var(--space-base);
  }
}
