
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h2 class="heading-section text-center">Sign Up</h2>
          <!-- <h3 class="mb-4 text-center">Have an account?</h3>
          <div class="form-group">
            <button mat-flat-button color="primary"
              class="form-control btn btn-secondry submit px-3">
              Sign in
            </button>
          </div> -->
          <form #form="ngForm" action="#" class="signin-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>fullname</mat-label>
              <input matInput required type="text" placeholder="FullName" name="FullName" #FullName="ngModel"
                [(ngModel)]="infoData.FullName" />
                <mat-error
                *ngIf="FullName.invalid && (FullName.dirty || FullName.touched) && FullName.errors"
              >
                <span *ngIf="FullName.errors['required']">هذا الحقل مطلوب</span>
                <span *ngIf="FullName.errors['pattern']"
                  >ادخل بريد الكتروني صحيح</span
                >
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput required type="text" placeholder="Email" name="Email" #Email="ngModel"
                [(ngModel)]="infoData.Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$"/>
                <mat-error
                *ngIf="Email.invalid && (Email.dirty || Email.touched) && Email.errors"
              >
                <span *ngIf="Email.errors['required']">هذا الحقل مطلوب</span>
                <span *ngIf="Email.errors['pattern']">ادخل بريد الكتروني صحيح</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Phone</mat-label>
              <input matInput required type="text" placeholder="Phone" name="Phone" #Phone="ngModel"
                [(ngModel)]="infoData.Phone" />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput pattern="" required  [type]="hide ? 'password' : 'text'" placeholder="Password" name="Password" #Password="ngModel"
              [(ngModel)]="infoData.Password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error
              *ngIf="Password.invalid && (Password.dirty || Password.touched) && Password.errors">
              <span *ngIf="Password.errors['required']">هذا الحقل مطلوب</span>
              <span *ngIf="Password.errors['pattern']">يجب ان يكون كلمة المرور تحتوى على حروف وارقام ورموز </span>
            </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>confirm Password</mat-label>
              <input matInput required minlength="4" [type]="hide ? 'password' : 'text'" placeholder="confirm Password" name="confirmPassword" #ConfirmPassword="ngModel"
              [(ngModel)]="confirmPassword"(focusout)="match()" >
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched) && ConfirmPassword.errors">
                <span *ngIf="ConfirmPassword.errors['required']">هذا الحقل مطلوب</span>
              <span *ngIf="! isMatch">كلمة السر ليست مطابقة</span>
            </mat-error>
            </mat-form-field>
            <div class="form-group">
              <button mat-flat-button color="primary"
                class="form-control btn btn-primary submit px-3" (click)="onSubmit(form)">
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>









<!-- <section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">sign Up</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Have an account?</h3>
          <form action="#" class="signin-form">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="name"
                 name="CatName"
                #CatName="ngModel"
                [(ngModel)]="infoData.FullName"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="email"
                 name="CatName"
                #CatName="ngModel"
                [(ngModel)]="infoData.Email"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="phone number"
                 name="CatName"
                #CatName="ngModel"
                [(ngModel)]="infoData.Phone"
              />
            </div>
            <div class="form-group">
              <input
                id="password-field"
                type="password"
                class="form-control"
                placeholder="Password"
                 name="CatName"
                #CatName="ngModel"
                [(ngModel)]="infoData.Password"
              />
            </div>
            <div class="form-group">
              <button
                class="form-control btn btn-primary submit px-3"
                (click)="onSubmit()"
              >
                Sign Up
              </button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
</section> -->





