<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">add Artical</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <form #Form="ngForm" class="signin-form">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="CatName"
                #CatName="ngModel"
                [(ngModel)]="article.CatName"
              />
            </div>
            <div class="form-group">
              <button (click)="onSubmit()"
                class="form-control btn btn-primary submit px-3"
              >
                Edit
              </button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
</section>

